{{>head}}

{{>navbar}}

<div class="row">
    <div class="col-8">
        <h1>About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum maxime similique qui reprehenderit placeat
            necessitatibus, ab cum accusantium expedita nobis fugiat, repellat voluptatum hic delectus obcaecati eum.
            Beatae, eaque optio.</p>
    </div>
    <div class="col-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9Im8m_WJPYyybuVXX6WymkOZrJoAoJ3A-oQ&usqp=CAU"
            class="img-thumbnail">
    </div>
</div>

{{>footer}}